<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Application</title>
</head>

<body>
<div class="container">
    <div class="row">
        <h1>Thymeleaf switch case example</h1>
        <h4 th:utext="${employee.firstName}"></h4>
        <div th:switch="${employee.role}">
            <p th:case="'ADMIN'">Employee is an administrator</p>
            
            <!-- * for default case -->
            <p th:case="*">Employee is an user</p>
        </div>
    </div>

</div>
</body>
</html>